* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}

/* Navbar*/
nav {
    display: flex;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    justify-content: space-around;
    color: #636e5e;
    font-weight: bold;
    height: 50px;
    align-items: center;
    padding: 20px;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgb(0 0 0 / 20%);
    position:fixed;
    --tw-bg-opacity: 0.8;
    width: 100%;
    top: 0;
}

nav .logo {
    font-family: 'Combo', curve;
    font-weight: bold;
    font-size: 40px;
    color: #236b5f;
}

nav ul {
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: space-between;
}
nav ul li a {
    color:#000000;
    text-decoration: none;
    font-size: 0.99em;
}

nav ul li a:hover{
    color:#236b5f;
}
.menu {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    background-color: #ffffff, var(--tw-bg-opacity);
    position: relative;
}

.menu input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -4px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #636e5e;
    border-radius: 3px;
    transition: all 0.5s;
}

/* menu animation */
.menu span:nth-child(2){
    transform-origin: 0 0;
}

.menu span:nth-child(4){
    transform-origin: 0 100%;
}

.menu input:checked ~ span:nth-child(2){
    background-color: rgb(104, 132, 103);
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu input:checked ~ span:nth-child(4){
    background-color: rgb(145, 204, 145);
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu input:checked ~ span:nth-child(3){
    opacity: 0;
    transform:scale(0);
}


/* beranda */

.berandaa {
    padding: 20px;
    margin-top: 20px;
    margin: 3%;
    align-items: center;
}
section h2 {
    font-family: 'Combo', curve;
    font-size: 60px;
    font-weight: bold;
    color: #236b5f;
}
section p {
    padding-bottom: 20px;
    font-size: 30px;
}
section h3 {
    font-size: 30px;
    padding-bottom: 20px;
}

section h5 {
    font-size: 15px;
    padding-bottom: 20px;
    color: #999c99;
}
section {
    margin: auto;
    display: flex;
}

section img {
    width: 500px;
    height: 480px;
    padding-left: 10%;
    padding-top: 5%;
}
section div {
    margin-bottom: 100px;
}
.tbl {
    background: #4b9f2a;
    border-radius: 20px;
    padding: 10px 10px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
}
.tbl:hover {
    background: #889d7f;
}

.kolom {
    margin-top: 150px;
    margin-bottom: 150px;
}

/* tentang saya */
.tentangsaya {
    padding-top: 8%;
    padding-left: 10px;
    margin: 3%;
}
.belajar {
    font-size: 40px;
    padding-bottom: 10px;
}
.yuk {
    padding-top: 4%;
    
}

.kenalan {
    font-size: 40px;
    padding-bottom: 10px;
}
.a {
    font-size: 15px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);

}

.social-media-icon {
    padding: 2px 3px 1px 3px;
    margin: 10px;
    border-radius: 5px;
}
a.social-media-icon:hover{
    background:  #577570!important;
}
.facebook{
    background: #fff!important;
}
.whatsapp{
    background: #fff!important;
}
.youtube{
    background: #fff!important;
}
.instagram{
    background: #fff!important;
}

/* Portofolio */
.portofolio {
    text-align: center;
    padding: 5%;
    background-color: #f2eee3;
}
.b {
    font-family: sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 5%;
}
.c {
    font-family: 'Combo', curve;
    font-size: 40px;
    color: #707d6b;
    padding-bottom: 10px;
}
.d {
    font-family: sans-serif;
    font-size: 15px;
    padding-bottom: 10%;  
}

.gambar p {
    padding-bottom: 5%;
    text-align: center;
}

.gambarsemua {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.portofolio-img {
    width: 400px;
    height: 200px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-transition-duration: 0.5s; 
    -moz-transition-duration: 0.5s; 
    -o-transition-duration: 0.5s;

}
.portofolio-img:hover{
   -webkit-box-shadow: 0 0 20px #000;
   -o-box-shadow: 0 0 20px #000;
   -moz-box-shadow: 0 0 20px #000;
   -ms-box-shadow: 0 0 20px #000;
   box-shadow: 0 0 20px #000;
   -webkit-transform:scale(1.1); 
   -moz-transform:scale(1.1); 
   -o-transform:scale(1.1); 
   opacity: 1; 
   z-index: 2;
   perspective: 800px;
   transform: rotateY(5deg);
}
.landingpage {
    font-family:'Combo', curve ;
    font-weight: bold;
    font-size: 20px;
    text-align:center;
    padding-bottom: 20px;
    padding-top: 15px;
}

/* Media Partners */

.media {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.e {
    font-family: sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 10%;
    color: #000000;
}
.f {
    font-family: 'Combo', curve;
    font-size: 35px;
    color: #26826c;
    padding-bottom: 10px;
}
.g {
    font-family: sans-serif;
    font-size: 15px;
    padding-bottom: 10%; 
    color: #999c99; 
}

.list {
    width: 100%;
    display: flex;
    padding-bottom: 10%;
}

.kartu-partner {
    width: 20%;
    margin: 0 auto;
}

.kartu-partner img {
    width: 150px;
    height: 150px;
    border-radius:5px;
    cursor: pointer;
}

/* kontak */

.contact {
    min-height: 100hv;
    padding: 100px 100px;
    display: flex;
    justify-content: center;
    background-color: #437469;
    align-items: center;
    flex-direction: column;
}
.contact .content {
    max-width: 800px;
    text-align: center;
}
.contact .content h2 {
    font-family: 'Combo', curve;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(251, 251, 251);
}

.contact .content p {
    font-weight: 300;
    color: rgb(255, 255, 255);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    display: flex;
    padding: 20px 0;
} 

.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: rgb(255, 255, 255);
    color: #0c7e5a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(225, 253, 240);
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3 {
    font-family: sans-serif;
    font-weight: bold;
    color: #0b2f2e;

}
.contactForm {
    width: 40%;
    padding: 40px;
    border-radius: 20px;
    background: rgb(230, 232, 231);
}

.contactForm h2 {
    font-family: 'Combo', curve;
    font-weight: bold;
    font-size: 35px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox {
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input, 
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    border-radius: 10px;
}
.contactForm .inputBox span{
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    color: #666;
}
.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #0c7e5a;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
}
.contactForm .inputBox input[type="submit"]:hover {
    width: 100px;
    background: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
}


@media (max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container {
        flex-direction: column;
    }
    .container .contactInfo {
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm {
        width: 100%;
    }
}

/* footer */


.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 60px 30px;
    color: #2f2f2f;
    background-color: #f2eee3;
    border-top: 1px solid #e5e5e5;
    padding: 3%;
}
  
.footer > * {
    flex:  1 100%;
}

.footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    text-transform: lowercase;
    font-size: 2rem;
}

.footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
}

.nav__title {
    font-weight: 400;
    font-size: 15px;
}

.footer address {
    font-style: normal;
    color: #999;
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
}

.footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
}

.nav__ul a {
    color: #999;
}

.legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
}


@media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
}

@media screen and (min-width: 40.375em) {
.footer__nav > * {
    flex: 1;
}

.footer__addr {
    flex: 1 0px;
}

.footer__nav {
    flex: 2 0px;
}
}


/* responssif breakpoint */

/* ukuran tablet */
@media screen and (max-width: 750px) {
    nav ul {
        width: 70%;
    }
}


@media screen and (max-width: 768px) {
    nav ul {
        width: 60%;
        display: flex;
        list-style: none;
        font-size: 15px;
    }
    section img {
        padding-top: 15%;
        width: 400px;
        height: 400px;
    }
    nav .logo {
        font-family: 'Combo', curve;
        font-weight: bold;
        font-size: 25px;
        color: #236b5f;
    }
    .gambarsemua {
        display: block;
        align-items: center;
    }
    .tentangsaya {
        padding-top: 15%;
    }
    .portofolio {
        padding-top: 10%;
    }
    .media {
        padding-top: 5%;
    }
    .contact {
        padding-top: 15%;
    }
    
}

@media screen and (max-width: 445px) {
    .container .contactInfo {
        width: 100%;
    }
    .contactForm {
        width: 70%;
        padding: 40px;
        border-radius: 20px;
        background: rgb(230, 232, 231);
    }
}

@media screen and (max-width: 375px) {
    section img {
        width: 100px;
        height: 100px;
    }
}



/* ukuran mobile */
@media screen and (max-width: 576px) {
    .menu {
        display: flex;
    }
    nav .logo {
        font-family: 'Combo', curve;
        font-weight: bold;
        font-size: 45px;
        color: #236b5f;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 70px;
        height: 40vh;
        width: 50%;
        border-radius: 20px;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
        align-items: center;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
    }

    nav ul.slide {
        transform: translateX(0);
    }

    section {
        display: block;    
    }
    section img {
        display: block;
        height: 320px;
        width: 340px;
        margin: auto;
        padding:0;
    }
    .yuk {
        padding: 0;
    }
    .tentangsaya {
       padding-top: 25%;
    }
    .portofolio {
        padding-top: 20%;
    }
    .portofolio-img {
        width: 300px;
        height: 150px;
    }
    .media {
        padding-top: 15%;
    }
    .contact {
        padding-top: 25%;
    }
    .gambarsemua {
        padding-left: 5%;
    }
    .kartu-partner img {
        width: 100px;
        height: 100px;
    }
}


@media screen and (max-width: 1024px) {
    
    .gambarsemua {
        align-items: center;
        display: block;
    }
}

