<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portofolio</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Combo&family=Noto+Sans+Balinese&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7d90d49287.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>
<body>
      <!-- Navigasi -->
    <nav>
        <div class="logo">
            <h4>Rizki Setiabudi</h4>
        </div>
        <ul>
            <li><a href="#beranda">Beranda</a></li>
            <li><a href="#tentang-saya">Tentang Saya</a></li>
            <li><a href="#portofolio">Portofolio</a></li>
            <li><a href="#media-partners">Media Partners</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="menu">
            <input type="checkbox"/>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
      <!-- Beranda -->
    <div id="beranda">
        <section class="berandaa">
            <div class="kolom">
                <p>Hallo semua saya</p>
                <h2>Rizki Setiabudi</h2>
                <h3>Artificial Intelligence & Web Developer</h3>
                <h5>Yuk Kepoin Curiculum Vitae saya di bawah silahkan klik ya !!! </h5>
                <h4><a href="https://drive.google.com/file/d/1ozvGekBGZyVRrSijVNERucTFUpaeSRQ1/view?usp=sharing" class="tbl">Download CV</a></h4>
            </div>
            <img src="https://img.freepik.com/premium-vector/web-developer-is-analyzing-programming-language_18660-442.jpg?size=626&ext=jpg&ga=GA1.2.1447151289.1649954395" alt="">
        </section>
    </div>
      <!-- Tentang Saya -->
    <div id="tentang-saya">
        <section class="tentangsaya">
            <div>
                <h3>Tentang Saya</h3>
                <h2 class="belajar">Mari Belajar Web Programing dan Artificial Intelligence</h2>
                <h5 class="a">Belajar Web Programming dan AI memberikan kesempatan untuk membuat website dan aplikasi yang cerdas dan interaktif.</h5>
            </div>
            <div class="yuk">
                <h2 class="kenalan">Yuk Kenalan</h2>
                <h5 class="a">Kalo mau kenalan lebih lanjut silahkan bisa klik media sosial dibawah ini ya !!!</h5>
                <a href="https://www.instagram.com/rizkisetiabudi_/"><i class="fa-brands fa-square-instagram m-2"></i></a>
                <a href="https://www.facebook.com/rizki.setia.756"><i class="fa-brands fa-square-facebook m-2"></i></a>
                <!-- <a href="https://web.whatsapp.com/"><i class="fa-brands fa-square-whatsapp m-2"></i></a> -->
                <a href="https://www.youtube.com/channel/UC2MAvtHFgyrSSZ_W31z73GQ"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </section>
    </div>
      <!-- Portofolio -->
    <div id="portofolio" class="portofolio">
        <div>
            <h3 class="b">Portofolio</h3>
            <h2 class="c">Project Terakhir</h2>
            <h5 class="d">Berikut ini beberapa Project akhir yang sudah saya kerjakan pada tahun 2022/2023</h5>
        </div>
        <div class="gambarsemua">
            <div class="gambar">
                <img class="portofolio-img" src="https://lh5.googleusercontent.com/siQJrGDAfxAZlnnKdNolxB7IwOMVBiYQL6xY3TePEPUfftllbQP7z58xjUp34YC3GVk=w1200-h630-p" />
                <h6 class="landingpage">Landing Page Web Kroya</h6>
                <!-- <P href>Lorem ipsum dolor sit amet consectetur adipisicing elit.</P> -->
            </div>
            <div class="gambar">
                <img class="portofolio-img" src="https://lh6.googleusercontent.com/XXnieRUDJhPLPi76KNEySxO-GHbRppWhlqwZi0pTqvcJgnB3mI4D9eAscRPfbpi0l0I=w1200-h630-p" />
                <h6 class="landingpage">Move Draf Apps</h6>
                <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p> -->
            </div>
            <div class="gambar">
                <img class="portofolio-img" src="https://lh5.googleusercontent.com/I9BptPwpzuRUVk2o8Opu1x3LHnrR9664kNUyCYpX9rn_8LnEbE8vDw8WvTQSEGJKWak=w1200-h630-p" /> 
                <h6 class="landingpage">Landing Page Mie Ayam Bakso</h6>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
            </div>
            <div class="gambar">
                <img class="portofolio-img" src="https://lh6.googleusercontent.com/VYg50uQsSawx_QqeXsh9HCisgdG8wew8-usvvxMfZMVSa_j9ZDne-bQeMOB38_E9jbs=w2400?source=screenshot.guru" />
                <h6 class="landingpage">Landing Page Syndrome Dev</h6>
                <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p> -->
            </div>
            <div class="gambar">
                <img class="portofolio-img" src="https://lh3.googleusercontent.com/drive-viewer/AAOQEORV717xAv8WMnLU9Rb2KhiFzevk4Cec1BX9mo9_0SoO7jPhI5OLj7mO9l71DEEIYa5orY6Gm77pRL5FChKq2lecIVPn=s1600" />
                <h6 class="landingpage">Landing Page Firasat Coffe</h6>
                <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p> -->
            </div>
            <div class="gambar">
                <img class="portofolio-img" src="https://lh3.googleusercontent.com/drive-viewer/AAOQEOQKrjW-uxvN_uwS-PvmfmfjZvXdxCDeLd7L0KECqa4pAIV9k3RLnw5495meJ-SoPFglWKK8QdoXdhgrb3U8FdO1LWom=s1600" />
                <h6 class="landingpage">Search Movie</h6>
                <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p> -->
            </div>
        </div>
    </div>
      <!-- Media Partners -->
    <div id="media-partners" class="media">
        <div>
            <h3 class="e">Media Partners</h3>
            <h2 class="f">Pernah Belajar di Sini</h2>
            <h5 class="g">Selama Saya Belajar Web Programming dan AI Saya Belajar di Instansi berikut</h5>
        </div>
        <div class="list">
            <div class="kartu-partner">
                <a href="https://amikompurwokerto.ac.id/">
                    <img src="https://lh5.googleusercontent.com/Px0IiF2_Hp-q1oBBDwRN6OIbignoi0StWlWV4jPSDtgut3AcprJHjWgd7x9zYL6zBeM=w2400" alt="">
                </a>
            </div>
            <div class="kartu-partner">
                <a href="https://www.dicoding.com/">
                    <img src="https://lh6.googleusercontent.com/FZw4pKQGKz2xEUKJdl6HHZKOcxBZ2G7APHTP1YGgiWKnaS9v3oCyzrXA2O7TdsYyKAY=w2400" alt="">
                </a>
            </div>
            <div class="kartu-partner">
                <a href="https://www.gamelab.id/">
                    <img src="https://lh5.googleusercontent.com/iG2PEXutABDEN-d_aBp4Fkj9EZq2vlSeakcE-lHWcdmSg2ZyHCerIoHQTctqYVuaV4M=w2400" alt="">
                </a>
            </div>
            <div class="kartu-partner">
                <a href="https://orbitfutureacademy.id/">
                    <img src="http://orbitfutureacademy.id/wp-content/uploads/2020/02/dark_logo.png" alt="">
                </a>
            </div>
        </div>
    </div>
      <!-- kontak -->
    <div class="contact" id="contact">
        <div class="content">
            <h2>Contact Us</h2>
            <p>Apakah ada yang ingin Anda tanyakan atau sampaikan? Kami akan senang untuk membantu. Hubungi kami sekarang. Kami akan senang mendengar dari Anda jika Anda memiliki pertanyaan atau komentar tentang situs web kami. Jangan ragu untuk menghubungi kami.</p>
        </div>
        <div class="container">
            <div class="contactInfo">
                <div class="box">
                    <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>Address</h3>
                        <p>Cilacap,<br>Jawa tengah,<br>53282</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>Phone</h3>
                        <p>0858-6957-9937</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>Email</h3>
                        <p>rizkisetiabudi21@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="contactForm">
                <form>
                    <h2>Send Message</h2>
                    <div class="inputBox">
                        <span>Full Name</span>
                        <input type="text" name="" required="required">
                    </div>
                    <div class="inputBox">
                        <span>Email</span>
                        <input type="text" name="" required="required">
                    </div>
                    <div class="inputBox">
                        <span>Pesan</span>
                        <textarea required="required"></textarea>
                    </div>
                    <div class="inputBox">
                        <input type="submit" name="" value="Send">
                    </div>
                </form>
            </div>
            
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer">
        <div class="footer__addr">
            <h1 class="footer__logo">Rizki Setiabudi</h1>
            <h2>Alamat</h2>
            <address>
                Desa Karangturi Rt 05/Rw 01, Kec.Kroya Kab.Cilacap, Jawa Tengah, Indonesia.<br>
            </address>
        </div>
    
        <ul class="footer__nav">
            <li class="nav__item">
                <h2 class="nav__title">Kategori</h2>
        
                <ul class="nav__ul">
                    <li>
                        <a href="#beranda">Curiculum Vitae</a>
                    </li>
            
                    <!-- <li>
                        <a href="#">Hidup Sehat</a>
                    </li>
            
                    <li>
                        <a href="#">Teknologi</a>
                    </li> -->
                </ul>
            </li>
    
            <li class="nav__item">
                <h2 class="nav__title">News & Info</h2>
        
                <ul class="nav__ul">
                    <li>
                        <a href="#beranda">Beranda</a>
                    </li>
            
                    <li>
                        <a href="#tentang-saya">Tentang Saya</a>
                    </li>
            
                    <li>
                        <a href="#portofolio">Portofolio</a>
                    </li>
            
                    <li>
                        <a href="#media-partners">Media Partners</a>
                    </li>
            
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
            
                </ul>
            </li>
        
            <li class="nav__item">
                <h2 class="nav__title">Support</h2>
        
                <ul class="nav__ul">
                    <li>
                        <a href="#contact">Help</a>
                    </li>
            
                    <!-- <li>
                        <a href="#">Help Desk</a>
                    </li>
            
                    <li>
                        <a href="#">Forums</a>
                    </li> -->
                </ul>
            </li>
        </ul>
    
        <div class="legal">
            <p>&copy; 2023 Copyright Rizki Setiabudi.</p>
        </div>
    </footer>

    <script src="static/js/script.js"></script>
</body>
</html>